<footer class="footer">
  <div class="container text-center">
    <div class="row buffer-top">
      <div class="col-md-4">
        <h5>Subscribe</h5>
        <p>
          Get updates about new courses and lessons!
          <a href="/subscribe">Subscribe</a>
        </p>
      </div>

      <div class="col-md-4">
        <h5>About Us</h5>
        <p>The knowledge gained here today was powered by the open-source community.</p>
        <p><a href="https://github.com/cindyq/linuxjourney">Contribute and Collaborate</a></p>
      </div>

      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>See a bug? Any complaints? Just want to send a note?
        <a href="mailto:contact@linuxjourney.com">Let us know</a></p>
      </div>

    </div>
  </div>
</footer>