<div class="jumbotron vertical-align">
  <div class="container buffer-top">
    <div class="row">
      <div class="col-md-12 text-center">
        <%= image_tag "jumbotron.png", alt: "beginner" %>
        <h1 class="buffer-top">Learn the ways of Linux-fu, for free.</h1>
      </div>
    </div>
  </div>
</div>